.cloud-1 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 20vw;
	height: 20vw;
	border-radius: 9999px;
	mix-blend-mode: multiply;
	opacity: 0.3;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.001)), #FEF08A;
	filter: blur(64px);
}

.cloud-2 {
	position: absolute;
	left: 45%;
	top: 55%;
	transform: translate(-50%, -50%);
	width: 20vw;
	height: 20vw;
	border-radius: 9999px;
	mix-blend-mode: multiply;
	opacity: 0.3;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.001)), #BFDBFE;
	filter: blur(64px);
}

.cloud-3 {
	position: absolute;
	left: 55%;
	top: 53%;
	transform: translate(-50%, -50%);
	width: 20vw;
	height: 20vw;
	border-radius: 9999px;
	mix-blend-mode: multiply;
	opacity: 0.3;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.001)), #E9D5FF;
	filter: blur(64px);
}

.cloud-4 {
	position: absolute;
	left: 40%;
	top: 45%;
	transform: translate(-50%, -50%);
	width: 20vw;
	height: 20vw;
	border-radius: 9999px;
	mix-blend-mode: multiply;
	opacity: 0.3;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.001)), #FBCFE8;
	filter: blur(64px);
}


.info-container {
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


.icon-container__title {
	font-family: var(--font-roboto);
	font-weight: bold;
	line-height: 60px;
	letter-spacing: 0px;
	color: #111827;
	font-size:60px;
	text-align:center;
	margin-bottom: 32px;
}

.icon-container__desc-bold {
	font-family: var(--font-roboto);
	font-size: 24px;
	font-weight: 500;
	line-height: 39px;
	text-align: center;
	letter-spacing: 0px;
	color: #374151;
	margin-bottom: 8px;
}

.icon-container__desc-normal {
	font-family: var(--font-roboto);
	font-size: 18px;
	font-weight: 500;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0px;
	color: #4B5563;
	margin-bottom: 32px;
}

.info-container__button {
	border-radius: 4px;
	opacity: 1;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.001)), #111827;
	box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1),0px 1px 3px 0px rgba(0, 0, 0, 0.1);
	display:flex;
	justify-content:center;
	align-items:center;
	gap: 0 8px;
	padding: 10px 32px;
}
